{
  "parserOptions": {
    "ecmaVersion": 10
  },
  "env": {
    "es6": true,
    "node": true
  },
  "sourceType": "module",
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "strict": ["error", "global"],
    "no-console": "off",
    "no-case-declarations": "off",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["warn", "single"],
    "semi": ["error", "always"]
  }
}
